img {
    width: 100%;
    border-radius: 15px;
}

main {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 4fr));
    grid-column-gap: 15px;
    grid-row-gap: 15px;
}

article {
    border: 2px solid #e0c364;
    border-radius: 15px;
    padding: 0.5vw;
}

.valgt {
    background-color: red;
}

nav {
    display: flex;
    justify-content: center;
}